body {
	background-color: #fba6ff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	height: 100vh;
}
.boite1 {
	background-color: black;
	width: max-content;
	border-radius: 50px;
	padding: 50px;
	margin-top: auto;
}
.titre {
	margin-bottom: 64px;
}
.boite2 {
	background-color: #272727;
	padding: 10px;
	border-radius: 10px;
	width: max-content;
}
.button {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	margin-top: 10px;
}
.html {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	margin-right: 30px;
	background-color: #51dd6b;
	padding: 5px;
	border-radius: 15px;
}
.css {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	margin-right: 20px;
	background-color: #51dd6b;
	padding: 5px;
	border-radius: 15px;
}
.javascript {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	margin-right: 5px;
	background-color: #51dd6b;
	padding: 5px;
	border-radius: 15px;
}
img {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: end;
}
.box {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: end;
}
